$medium: 768px;
$large: 1024px;
$primary-color:#2BB4F6;
$text-color: #000;
$body-font-family: 'Roboto', sans-serif;

@import "normalize";
@import "layout";
@import "elements";
@import "blog";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body{
	font: 300 17px/1.5 Raleway, sans-serif;
	color: $text-color;
}

html {
	scroll-behavior: smooth;
}

a {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		color: rgba($primary-color, 0.7);
	}
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
	margin: 0 0 30px;
	line-height: 1.2;
}
h1{
  font-size: 45px;
  
  @media screen and (min-width: 768px){
    font-size: 62px;
  }
}
h2{
	font-size: 38px;
}
h3{
	font-size: 22px;
}
h4, h5, h6{
	font-size: 18px;
}

p {
  font-size: 20px;
	margin: 0 0 25px;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1024px;
}

/* header */

.ba-header {
	position: fixed;
	top: 0;
	left: 0;
  right: 0;
  height: 60px;
	background: rgba(0,0,0, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.ba-header__menu{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	line-height: 1;
  margin-top: -3px;
  height: 100%;
}		


@media (min-width: 768px) {
	.ba-header__menu {
    display: flex;
	}
}
.ba-header__logo {
  margin-right: 20px;
  display: flex;
  align-items: center;
  z-index: 99;

  svg {
    width: 40px;
    height: 40px;
  }

  span {
    margin-left: 20px;
    font-family: 'Staatliches', sans-serif;
    color: #fff;
    display: inline-block;
    font-size: 30px;
  }

  @media screen and (min-width: 791px) {
    width: 30%;
  }
}

.ba-header__bar{
  display: flex;
  width: 100%;
	justify-content: space-between;
  align-items: center;
  height: 100%;
}



.ba-header__menu li + li{
	margin-left: 36px;
	line-height: 1;
}
.ba-header__menu a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	position: relative;
}

.ba-header__menu a:hover{
	color: $primary-color;
}

.ba-menu-toggle {
  display: flex;
  border: none;
  align-items: center;
	background: none;
	color: #fff;
	cursor: pointer;
  box-shadow: none;
  padding: 0;
  z-index: 99;

	&:hover {
		background: none;
		color: $primary-color;
	}

	&:focus {
		outline: none;
	}

	@media (min-width: 791px) {
    display: none;
	}
}

.ba-menu-toggle svg {
	fill: currentColor;
}

.ba-main-nav {
  display: none;

  @media screen and (min-width: 791px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
}

@media (max-width: 791px) {
	.ba-main-nav {
		position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

		left: 0;
		background: rgba(#000, 0.9);
		width: 100vw;
		height: 100vh;


		transition: transform 0.9s;
		transform: translateY(calc(-100% - 10px));
  }

	.ba-header__menu {
		flex-direction: column;
		align-items: center;
    justify-content: center;
    height: 250px;
	}

	.ba-header__menu li + li {
    margin-left: 0;
    margin-top: 30px;
	}

	.ba-header__menu a {
		font-size: 22px;
		margin-bottom: 10px;
		display: inline-block;
	}

}

.ba-main-nav.active {
	transform: translateX(0);
}

.ba-intro__inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-top: 150px;
}

.ba-intro-box {
  max-width: 700px;

  &__title {
    color: #fff;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li + li {
      margin-top: 20px;
    }
  
    li {
      color: #fff;
      font-size: 20px;

      @media screen and (min-width: 768px){
        font-size: 28px;
      }
    }
  }
}


.ba-intro__title {
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 15px;
}

@media (max-width: 639px) {
	.ba-intro__title {
		font-size: 36px;
	}
}

.ba-scroll {
	position: absolute;
	bottom: 70px;
	width: 24px;
	height: 40px;
	background: url(../img/scroll.png);
	left: 50%;
	margin-left: -12px;

	&:hover {
		transform: translateY( -5px)

	}

}

.ba-section {

  &--intro {
    height: 100vh;
    background: #fff url(../img/hero-bg.jpg) no-repeat 50%;
    opacity: 0.9;
    background-size: cover;
  }
  
	&--blog {
		background-color: #B07CF7;
		color: #fff;
		@media screen and (min-width:$large){
			padding-bottom: 120px;
			
		}
	}
	&--services {
		background-color: #70BFFF;
		color: #fff;
		@media screen and (min-width:$large){
			padding: 180px 0 140px;
		}
	}
	&--about {
		background-color: #00B2B2;
		color: #fff;
		@media screen and (min-width:$large){
			padding: 75px 0;
		}
	}
	&--gallery {
		background-color: #FFE92F;
		@media screen and (min-width:$large){
			padding-bottom: 120px;
			
		}
	}
	&--subscribe {
		background: url(../img/bg-subscribe.jpeg) 0% 50%;
		background-size: cover;
		@media screen and (min-width:$large){
			padding: 140px 0 160px;
			background: url(../img/bg-subscribe.jpeg) 50% no-repeat;
			
		}
	}
	&--contact {
		background: url(../img/contacts.jpg) 50%;
		background-size: auto 170%;
		@media screen and (min-width:$large){
			background-size: cover;
			padding-bottom: 120px;
			
		}
	}
}

.ba-section-title {
	text-align: center;
	font-weight: 700;
	font-size: 60px;
	margin: 0 0 5px;

	@media screen and (min-width:$medium){
		font-size: 90px;
		margin-bottom: 20px;
	}

	&--left {
		text-align: left;
		margin: 0 0 5px;
	}
}

.ba-section-content {
	text-align: center;
	max-width: 580px;
	margin: 0 auto 45px;
}

.ba-about-col {
	@media screen and (min-width:$large){
		order: 1;
	}
}

.ba-about-content {
	@media screen and (min-width:$large){
		padding: 90px 0 0 70px;
	}
}

.ba-about-img {
	filter: drop-shadow( 0 0 20px rgba(0, 0, 0, .5));
}

@import "services";

.ba-gallery {
	margin-bottom: 20px;

	img {
		box-shadow: 0 4px 10px rgba(0,0,0,0.5);
		display: block;
		width: 100%;
		margin-bottom: 30px;
	}
}

@import "subscribe";
@import "contact";

.ba-align-middle {
	align-items: center;
}

.ba-footer {
	padding: 32px 0;
	background: $text-color;
	color: #b9b9b9;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	@media screen and (min-width:$large){
		p {
			margin: 0;
		}
	}
}

.ba-copyright {
	@media screen and (min-width:$large){
		text-align: left;
	}
}

.ba-madeby {
	font-size: 15px;
	em {
		font-weight: 700;
		color:#FF2B58;
		font-style: normal;
	}

	@media screen and (min-width:$large){
		text-align: right;
	}
}

@media screen and (max-width:$large - 1px){
	.ba-copyright {
		margin-bottom: 20px;
	}
	.ba-madeby {
		margin: 20px 0 0 ;
	}
}